!!!
%html
  %head
    %title BillMeBob.com - create invoices online in an instant for free
  %body{:style=>"margin-left:auto;margin-right:auto;margin-top:100px;"}
    
    %h1{:align=>"center"} The invoice you asked for doesn't exist!
    %h2{:align=>"center"}
      %a{:href=>"/"} Want to create one for free?
