body { background: #eeeeee; }
.container { background: #ffffff; }
.introbox {
  background: #feefb3;
  border: 1px solid #9f6000;
  margin-bottom: 20px;
}
.introbox div {
  padding: 10px;
  font-weight: bold;
  font-size: 120%;
  color: #9f6000;
}
.introbox div span {
  font-weight: normal;
  color: #666666;
  font-size: 100%;
}
.reqfield {
  color: #ff0000;
  font-size: 140%;
}
.totalhead {
  font-weight: bold;
  text-align: right;
  padding-right: 5px;
}
.invoicetotal {
  padding-top: 4px;
  font-size: 120%;
}
.errormessages {
  padding-top: 10px;
  padding-bottom: 20px;
  color: #990000;
  text-align: center;
  font-size: 110%;
}
.header .box {
  padding: 0px;
  background: #333333;
}
.header .boxtop div {
  font-size: 0;
  height: 6px;
}
.header .boxbottom { background: url(/images/se.gif) no-repeat bottom right; }
.header .boxbottom div {
  font-size: 0;
  height: 6px;
  background: url(/images/sw.gif) no-repeat bottom left;
}
.header .boxcontent {
  height: 30px;
  padding: 0px 6px 0px 6px;
}
#navbar {
  height: 30px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 10px;
  list-style-type: none;
}
#navbar .navlink {
  padding-top: 8px;
  padding-left: 10px;
}
#navbar .logo { padding-right: 20px; }
#navbar li {
  float: left;
  list-style: none;
}
#navbar li a {
  font-size: 120%;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
.topsep { border: 1px dashed #cccccc; }
.content { padding: 10px; }
.content label {
  font-weight: normal;
  font-size: 120%;
  font-family: Georgia;
  margin-right: 5px;
}
.content .from_company { text-align: left; }
.content .from_company input {
  margin-top: 0px;
  margin-bottom: 10px;
  width: 250px;
  font-size: 150%;
  font-family: Georgia;
  color: #999999;
  padding: 5px;
}
.content .from_company input:focus {
  padding: 5px;
  color: #333333;
}
.content .from_company textarea {
  width: 250px;
  font-size: 150%;
}
.content .to_company { text-align: left; }
.content .to_company input {
  margin-top: 0px;
  margin-bottom: 10px;
  width: 250px;
  font-size: 150%;
  font-family: Georgia;
  color: #999999;
  padding: 5px;
}
.content .to_company input:focus {
  padding: 5px;
  color: #333333;
}
.content .to_company textarea {
  width: 250px;
  font-size: 150%;
}
.content .sectiontitle {
  margin-top: 20px;
  font-size: 180%;
  color: #666666;
  font-family: Georgia;
}
.content .formbuttons {
  margin-top: 20px;
  text-align: center;
}
.content .formbuttons .submitbutton {
  font-size: 180%;
  font-family: Georgia;
}
.currency_s {
  margin-left: 30px;
  font-family: Georgia;
  font-size: 120%;
}
.als { margin-top: 20px; }
.prodserv .itemhead {
  background: #eeeeee;
  border: 1px dashed #999999;
  color: #ffffff;
}
.prodserv .itemhead .inameh { text-align: center; }
.prodserv .itemhead .inameh select {
  font-family: Georgia;
  font-size: 150%;
}
.prodserv .itemhead .iquantityh { text-align: center; }
.prodserv .itemhead .iquantityh select {
  font-family: Georgia;
  font-size: 150%;
}
.prodserv .itemhead .icosth { text-align: center; }
.prodserv .itemhead .icosth select {
  font-family: Georgia;
  font-size: 150%;
}
.prodserv .itemhead .itaxh { text-align: center; }
.prodserv .itemhead .itaxh select {
  font-family: Georgia;
  font-size: 150%;
}
.prodserv .itemlist .iname { text-align: center; }
.prodserv .itemlist .iname input {
  width: 220px;
  padding: 2px;
}
.prodserv .itemlist .iquantity { text-align: center; }
.prodserv .itemlist .iquantity input {
  width: 28px;
  padding: 2px;
}
.prodserv .itemlist .icost { text-align: center; }
.prodserv .itemlist .icost input {
  width: 60px;
  padding: 2px;
}
.prodserv .itemlist .itax { text-align: center; }
.prodserv .itemlist .itax input {
  width: 20px;
  padding: 2px;
}
.datefields { font-family: Georgia; }
.datefields #show_due { margin-top: 8px; }
.datefields .shorturlbox .fieldWithErrors { padding-right: 18px; }
.datefields .shorturlbox .fieldWithErrors input { border: 1px solid #990000; }
.datefields .shorturlbox .urlprefix {
  color: #666666;
  font-size: 120%;
  font-family: Arial;
}
.qmenu .qselected {
  text-align: center;
  width: 85px;
  cursor: pointer;
}
.qmenu .qitems {
  position: absolute;
  z-index: 5;
  background: #eeeeee;
  border: 1px solid #dddddd;
}
.qmenu .qitems .qitem {
  width: 85px;
  padding: 5px;
  float: left;
}
.qmenu .qitems .qitem img { border: 2px solid #dddddd; }
.qmenu .qitems .qitem img:hover { border: 2px solid #ff99cc; }
.qmenu .down_arr {
  background: #996699;
  font-family: Georgia;
  text-transform: uppercase;
  clear: both;
  color: #ffffff;
  height: 18px;
  width: 85px;
  z-index: 6;
  position: absolute;
  margin-top: -40px;
  text-align: center;
}
.footer p {
  text-align: center;
  color: #999999;
}
