body{
        background: #eeeeee;
}

.container{
        background: #ffffff;
}

.header{
        /* background: #9EADCC; */
        #navbar
        {
                margin-top: 5px;
                margin-bottom: 5px;
                margin-left: 10px;
                li{
                        list-style: none;
                }
        }
}

.topsep{
        border: 1px dashed #cccccc;
}

.content{
        padding: 10px;
        label{
                font-weight: normal;
                font-size: 120%;
                font-family: Georgia;
                margin-right: 5px;
        }

        .from_company{
                text-align: left;
                input{
                       margin-top: 0px;
                       margin-bottom: 10px;
                       width: 250px;
                       font-size: 150%;
                       font-family: Georgia;
                       color: #999999;
                       padding: 5px;
                }
                input:focus{
                       padding: 5px;
                       color: #333333; 
                }
                textarea{
                        width: 250px;
                        font-size: 150%;
                }
        }
        .to_company{
                text-align: left;
                input{
                       margin-top: 0px;
                       margin-bottom: 10px;
                       width: 250px;
                       font-size: 150%;
                       font-family: Georgia;
                       color: #999999;
                       padding: 5px;
                }
                input:focus{
                       padding: 5px;
                       color: #333333; 
                }
                textarea{
                        width: 250px;
                        font-size: 150%;
                }
        }
        .sectiontitle{
                margin-top: 20px;
                font-size: 180%;
                color: #666666;
                font-family: Georgia;
        }
        .formbuttons{
                margin-top: 20px;
                text-align: center;
                .resetbutton{
                
                }
                .submitbutton{
                        font-size: 180%;
                        font-family: Georgia;
                }
        }
}

.currency_s{
        margin-left: 30px;
        font-family: Georgia;
        font-size: 120%;
}

.itemhead{
        background: #666666;
        color: #ffffff;
        .inameh{
                text-align: center;
        }
        .iquantityh{
                text-align: center;        
        }
        .icosth{
                text-align: center;
        }
        .itaxh{
                text-align: center;
        }
}

.itemlist{
        .iname{
                text-align: center;
                input{
                        width: 250px;
                        padding: 2px;
                }
        }
        .iquantity{
                text-align: center; 
                input{
                        width: 28px;
                        padding: 2px;
                }
        }
        .icost{
                text-align: center; 
                input{
                        width: 60px;
                        padding: 2px;
                }
        }
        .itax{
                text-align: center; 
                input{
                        width: 20px;
                        padding: 2px;
                }
        }
}

.qmenu{
    .qselected{
        text-align: center;
        width: 85px;
        cursor: pointer;
    }
    
    .qitems{
        position: absolute;
        z-index: 5;
        background: #eeeeee;
        border: 1px solid #dddddd;
        .qitem{
            width: 85px;
            padding: 5px;
            float: left;
             img{
                border: 2px solid #dddddd;
            }
            img:hover{
                border: 2px solid #FF99CC;
            }
        }
    }
    
    .down_arr{
        background: #996699;
        /*
        background-position: center;
        */
        font-family: Georgia;
        text-transform: uppercase;
        clear: both;
        color: #ffffff;
        height: 18px;
        width: 85px;
        z-index: 6;
        position: absolute;
        margin-top: -40px;
        text-align: center;
    }
}

.footer p{
        text-align: center;
        color: #999999;
}
