#navbar {
  height: 30px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 10px;
  list-style-type: none;
}
#navbar .navlink {
  padding-top: 8px;
  padding-left: 10px;
}
#navbar .logo { padding-right: 20px; }
#navbar li {
  float: left;
  list-style: none;
}
#navbar li a {
  font-size: 120%;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

#navbar .or{
    color: #ffffff;
    margin-top: 10px;
    margin-left: 10px;
}

.printlink .printbutton{
    font-family: Arial;
    margin-left: 20px;
    margin-top: 5px;
    font-size: 140%;
}

.header .box {
  padding: 0px;
  background: #333333;
}
.header .boxtop div {
  font-size: 0;
  height: 6px;
}
.header .boxbottom { background: url(/images/se.gif) no-repeat bottom right; }
.header .boxbottom div {
  font-size: 0;
  height: 6px;
  background: url(/images/sw.gif) no-repeat bottom left;
}
.header .boxcontent {
  height: 30px;
  padding: 0px 6px 0px 6px;
}

.bycomp{
    text-align: center;
    font-family: Georgia;
    font-size: 200%;
}

.byaddr{
    text-align: center;
    font-size: 120%;
    color: #666666;
}

.byaddr p{
    margin-bottom: 5px;
}

.topsepbdr{
    border-top: 1px solid #999999;
    font-size: 100%;
    margin-top: 0px;
}

.toinfo{
    text-align: left;
    margin-top: 3px;
}

.toinfo .fieldtitle{
    padding-right: 15px;
    font-weight: bold;
    color: #666666;
    text-transform: uppercase;
    font-size: 120%;
}

.tocomp{
    font-size: 140%;
}

.toaddr{
    font-size: 120%;
    color: #333333;
}

.datebox{
    text-align: right;
}

.datebox .date{
    color: #333333;
    font-size: 115%;
}

.datebox .date .fldlbl{
    text-transform:uppercase;
    font-weight: bold;
    color: #666666;
}

.topsep{
    margin-top: 50px;
}

.producthead{
    font-size: 100%;
    text-transform: uppercase;
    font-weight: bold;
    background: #eeeeee;
    border: 1px dashed #999999;
    padding-left: 15px;
    padding-right: 15px;
}

.eachprod{
    font-size: 120%;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.totalhead{
    padding-top: 30px;
}

.bsp{
    font-weight: bold;
    text-transform: uppercase;
}

.bspa{
    text-align: right;
}

.bspa span{
    font-size: 120%;
    font-weight: bold;
    text-transform: uppercase;
}

.totalamt{
    font-size: 120%;
}

.footer p{
    margin-top: 50px;
    text-align: center;
    color: #999999;
}

.bspbox{
    text-align: right;
}

.strayfoot{
    padding-top: 60px;
}